<p id="notice"><%= notice %></p>
<div align="center">
	<%= @employee.employee_name %><br/>
	<%= image_tag (@employee.image_url), :size => "260x180" %><br/>
	<%= @employee.dob %><br/>
	<%= @employee.gender%>
	<%= form_with url: assign_periods_path do |f| %>
  	<%= f.collection_select :project_id, Project.order(:project_name),:id,:project_name, include_blank: true, class: "form-control" %>
  	<%= f.hidden_field :employee_id, value: @employee.id %>
	  <%= f.submit %>
  <%end%>
	<table class="table">
		<tr>
			<th>
				Project Name
			</th>
		</tr>
		<tbody>
			<% @employee.employees_projects.each do |obj| %>
				<tr>
					<td><%= obj.project.project_name %></td>
					<td><%#= link_to 'Show', project %></td>
	        <td><%#= link_to 'Edit', edit_project_path(project) %></td>
	        <td><%#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<%end%>
		</tbody>
	</table>
	<button><%= link_to 'Edit', edit_employee_path(@employee) %> |
	<%= link_to 'Back', employees_path %></button>
</div>
