<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<p id="notice"><%= notice %></p>
<table class="table">
	<p>
	  <strong>Title:</strong>
	  <%= @blog.title %>
	</p>
	<p>
	  <strong>Descripion:</strong>
	  <%= @blog.descripion %>
	</p>
	<p>
		<strong>image:</strong>
		<%= image_tag (@blog.image_url), :size => "260x180" %>
	</p>
	<p>
	  <strong></strong>
	  <%= @blog.user_id %>
	</p>
</table>
<h3>Comments</h3>

<%= form_for [@blog, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.hidden_field :user_id%>
<%= f.submit "Add Comment" %>
<% end %>

<ul>
  <%= render(partial: 'comments/comment', collection: @blog.comments) %>
</ul>