<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <table align="center">
      <tr>
        <td><h2>Sign up</h2></td>
      </tr>
        <div class="field">
          <tr>
            <td><%= f.label :email %></td><br />
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          <tr>
        </div>
        <div class="field">
          <tr>
            <td><%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %></td><br />
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <td><%= f.label :password_confirmation %></td><br />
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
        </div>
        <tr>
          <td><%= f.label :employee_name %></td>
          <td><%= f.text_field :employee_name %></td>
        </tr>
        <br>
        <tr>
          <td><%= f.label :company_name %></td>
          <td><%= f.collection_select :company_id, Company.order(:company_name),:id,:company_name, include_blank: true %></td>
        </tr>
        <tr>
          <td><%= f.label :image %></td>
          <td><%= f.file_field :image%></td>
          <tr>
        <tr>
          <td><%= f.label :dob %></td>
          <td><%= f.date_field :dob%></td>
        </tr>
        <tr>
          <td><%= f.label :gender %></td>
          <td><%= f.select(:gender, [ 'Male', 'Female', 'Other' ], {}, { :class => 'select' }) %></td>
        </tr>
        <div class="actions">
          <tr>
            <td><%= f.submit "Sign up" %></td>
          </tr>
        </div>
      <tr>
        <td><%= render "devise/shared/links" %></td>
      </tr>
    </table>
<% end %>

 
