<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<table >
		<tr>
			<td><h2>Forgot your password?</h2></td>
		</tr>
		<tr>
		  <td><%= render "devise/shared/error_messages", resource: resource %></td>
		</tr>
		  <div class="field">
		  	<tr>
		    	<td><%= f.label :email %></td><br />
		    	<td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
		    </tr>
		  </div>
		  <div class="actions">
		  	<tr>
		    	<td><%= f.submit "Send me reset password instructions" %></td>
		    </tr>
		  </div>
		<tr>
			<td><%= render "devise/shared/links" %></td>
		</tr>
	</table>
<% end %>


