<html>
<style>
*{
padding: 0;
margin: 0;
}
body
{
	background-image: url(https://images.unsplash.com/photo-1531415074968-036ba1b575da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=472642856008b6ddb3e596e45ca4263d&auto=format&fit=crop&w=1494&q=80);   
    background-size:1500px 800px;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
}
.menu-bar{
	background: yellow;
	text-align: center;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menu-bar ul li{

	width: 200px;
	height: 30px;
	margin: 5px;
	padding: 5px;
text-decoration: none;
	color: #fff;
	
}
.active, .menu-bar ul li:hover
{

	background: blue;
	border-radius: 10px;
}
h1{

	color:red;
	margin: 15px;
}
h6{
color:black;
margin: 5px;
padding: 5px;

}

</style>

<body>
	<div class="menu-bar">
	<ul>
		<li class="active">Home</li>
		<li><%= link_to 'Company', new_company_path %></li>
		<li><%= link_to 'Employee', new_employee_path %></li>
		<li><%= link_to 'Project', new_project_path %></li>
		<li><% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Sign in', new_user_session_path %>
    <% end %></li>
<h6><% if user_signed_in? %>
        Signed in as <%= current_user.email %>
  
    <% end %></h6>
    
	</ul>
    
</body>
</div>
<div>
	<h1 align="center">WELCOME</h1>
	</div>

</html>