<div align="center">
<caption><h2><ins><i>COMPANY LIST</i></ins></h2></caption>
</div>
<p id="notice"><%= notice %></p>

<table style="width:65%;height:90%;" align="center">
  <tr>
<tr>
  <th>Company</th>
  <th>Actions</th>
</tr>

</tr>

  <tbody>
    <% @companies.each do |company| %>
      <tr  style="background-color:#32A9EE;color:white;">
        <td><%= company.company_name %></td>
        <td><%= company.employees.count %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div align="center">
<button ><%= link_to 'New Company', new_company_path %></button>
</div>
