<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table align="center">
    <tr>
      <td><h2>Log in</h2></td>
    </tr>
      <div class="field">
        <tr>
          <td><%= f.label :email %></td><br />
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
      </div>
      <div class="field">
        <tr>
          <td><%= f.label :password %></td><br />
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </div>
        <% if devise_mapping.rememberable? %>
      <div class="field">
        <tr>
          <td><%= f.check_box :remember_me %></td>
          <td style="color:white;"><%= f.label :remember_me %></td>
        </tr>
        </div>
      <% end %>
      <div class="actions">
        <tr>
          <td><%= f.submit "Log in" %></td>
        </tr>
      </div>
    <tr>
      <td><%= render "devise/shared/links" %></td>
    </tr>
  </table>
<% end %>


